<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>อัตราค่าบริการ</title>
</head>
<body>
  <%- include('./component/nav.ejs') %>
  <section>
      <!-- 1 -->
      <div>
        <p>1. ประเภทเสื้อผ้า</p>
        <table>
          <thead>
            <tr>
              <th>ประเภทเสื้อผ้า</th>
              <th>ราคาต่อชิ้น</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < list_product.length; i++) { %>
              <tr>
                <td><%= list_product[i].product_type %></td>
                <td><%= list_product[i].product_price %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <!-- 2 -->
      <div>
        <p>2. บริการ</p>
        <div>
          <ul style="list-style-type: none;">
            <% for (let i = 0; i < list_program.length; i++) { %>
            <li>
              <span>
                <%= list_program[i].program_type %>
              </span>
              <span>
                ค่าบริการ <%= list_program[i].program_price %> บาท/ตัว
              </span>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
</body>
</html>
